In [1]:
import pandas as pd
import numpy as np

In [55]:
data = pd.read_csv('../../data/raw/data', 
                   header=None, 
                   converters={0: str.strip, 1: str.strip, 2: str.strip})
data = data.replace('?', np.nan)
data.head()

/home/jdickerson/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

In [84]:
data_nonull = data.dropna(axis=0, how='any')

In [104]:
labels = data_nonull[1558].replace({'nonad.': 0, 'ad.': 1})
X = data_nonull.drop(1558, axis=1)

In [105]:
from sklearn.svm import SVC

In [106]:
clf = SVC()
labels.tail()

3273    0
3274    0
3275    0
3276    0
3278    0
Name: 1558, dtype: int64

In [107]:
from sklearn.model_selection import train_test_split

In [108]:
X_train, X_test, y_train, y_test = train_test_split(X, labels, test_size=0.10, random_state=42)

In [109]:
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [110]:
preds = clf.predict(X_test)

In [111]:
from sklearn.metrics import accuracy_score, recall_score, precision_score

In [112]:
print(accuracy_score(preds, y_test))
print(recall_score(preds, y_test))
print(precision_score(preds, y_test))

0.932203389831
0.84375
0.710526315789